# Replace all placeholders with your own values
# Arguments for GitHub access
GITHUB_USERNAME=${GITHUB_USERNAME}
GITHUB_TOKEN=${GITHUB_TOKEN}
BRANCH=main
API_REPO_NAME=Alfonso9596/janick-mediaapi
WEB_REPO_NAME=Alfonso9596/janick-mediaweb

#Database Environment Variables
MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
MYSQL_DATABASE=mediadb
MYSQL_USER=${MYSQL_USER}
MYSQL_PASSWORD=${MYSQL_PASSWORD}

#API Environment Variables
SPRING_DATASOURCE_URL=jdbc:mysql://mediadb:3306/mediadb
SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
SPRING_ALLOWED_ORIGIN=*

#Web Environment Variables (leave VITE_API_URL empty for production, it will use proxy from nginx)
VITE_API_URL=
VITE_PRIME_LICENSE=${VITE_PRIME_LICENSE}